<div>
  <div class="bg-white">
    <div class="bg-white w-full">
      <div class="mx-auto mx-24">
        <div class="flex justify-between">
          <div class="inline-flex items-center gap-8">
            <img class="h-full w-12 py-1.5" src="assets/images/logo.svg" alt="logo">
            <ul class="inline-flex items-end h-full gap-8">
              <li class="text-lg text-blue-400 pb-3 border-b-8 border-blue-600">Page Jaune</li>
              <li class="text-lg text-blue-400 pb-3 border-b-8 border-blue-600">Page Jaune</li>
            </ul>
          </div>

          <p-button label="Check" icon="pi pi-check"></p-button>

          <div class="inline-flex items-center gap-4 py-2">
            <button class="bg-blue-300 rounded-full shadow-lg px-6 py-2 text-sm text-black">Se referencer</button>
            <button class="bg-white rounded-full p-2 inline-flex justify-center items-center border border-black"></button>
            <button class="bg-white rounded-full border border-black px-6 py-2 text-sm text-black">Mon compte</button>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full h-full">
      <img class="w-full h-full bg-contain bg-auto" src="https://images.unsplash.com/photo-1580470846411-b0e734c5ffd6?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="banniere-ecole">
    </div>
  </div>
</div>

