<div>
  <div class="ma-balise bg-yellow-500 mb-20 px-4 lg:px-0">
    <div class="container mx-auto flex items-center justify-between gap-4 py-2 text-white">
      <h1 class="text-xs lg:text-sm font-medium">
        Ne manquez plus rien ! Téléchargez dès maintenant notre application mobile.
      </h1>

      <div class="flex flex-col lg:flex-row items-center gap-x-3">
        <a
          href="https://apps.apple.com/bj/app/meks-events-togo/id6448987048"
          target="_blank"
          class="w-32 transition duration-300 hover:shadow-lg"
        >
          <img
            src="https://kitwind.io/assets/kometa/app-store.png"
            class="object-cover object-top w-full h-auto mx-auto"
            alt=""
          />
        </a>
        <a
          href="https://play.google.com/store/apps/details?id=tg.meg.met&hl=fr&gl=US"
          target="_blank"
          class="w-32 transition duration-300 hover:shadow-lg"
        >
          <img
            src="https://kitwind.io/assets/kometa/google-play.png"
            class="object-cover object-top w-full h-auto mx-auto"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="currentEvent" class="my-6">
    <h1 class="mb-4 text-center text-2xl font-bold">Detail de l'evenement</h1>
    <span class="px-12 py-4 border-l-4 border-blue-600">Description: {{ currentEvent.title }} </span>
  </div>

  <app-event-list (showDetails)="onShowDetails($event)" [events]="events"></app-event-list>
</div>
